@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

main {
    display: flex;
}

h1 {
    font-size: 2rem;
}

li {
    list-style: none;
}

.header {
    background-color: #7BAD3C;
    display: flex;
    align-items: center;
}

.aside {
    box-sizing: border-box;
    background-color: #BBF176;
    width: 80%;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin: 0 .8rem;
}

.section {
    margin: .5rem;
}