header {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 .8rem;
}

main {
    display: flex;
}

aside {
    width: 80%;
}

h1 {
    font-size: 2rem;
}