@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

a {
    color: black;
}

main {
    display: flex;
    justify-content: space-between;
}

h1 {
    padding-left: 1rem;
    font-size: 2rem;
}

li {
    list-style: none;
}

.logo {
    padding: .5rem 1rem;
    width: 70px;
    height: 70px;
}

.header {
    background-color: #7BAD3C;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.aside {
    background-color: #BBF176;
    width: 25%;
    box-sizing: border-box;
    padding: 1.5rem .5rem;
}

.aside ul li {
    margin: .5rem 0;
    padding: .3rem;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin: 0 .8rem;
}

.section {
    margin: .7rem;
    padding: 1.5rem .5rem;
    background-color: #E8E8E8;
    border-style: hidden;
    border-radius: 1.5rem;
    box-shadow: 7px 3px 3px #C2C2C2;
}

.article {
    padding: 1rem;
}

.article h2 {
    margin-bottom: .5rem;
}

.section-formulario {
    margin: 5rem 1.5rem;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.formulario input{
    margin: .5rem;
}

.img-section {
    margin-left: 1rem;
    box-shadow: 7px 3px 3px #d1d1d1;
}

.img-article {
    margin: 1rem 0;
    box-shadow: 7px 3px 3px #d1d1d1;
}

.footer {
    background-color: #3d571d;
    color: #f8f8f8;
    padding: .5rem;
}

.negrita {
    font-weight: bold;
}

.boton-pri {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .7rem 2rem;
    background-color: #BBF176;
    color: #222222;
    border-color: transparent;
    border-radius: 1rem;
}

.boton-pri:hover {
    background-color: #3d571d;
    color: #f8f8f8;
}

.boton-secnd {
    padding: .7rem 2rem;
    background-color: #BBF176;
    color: #222222;
    border-color: transparent;
    border-radius: 1rem;
}

@media (max-width: 980px) {
    .img-section {
        box-sizing: border-box;
        width: 70%;
        height: 70%;
    }

    .section-formulario {
        margin: 3rem 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 520px) {

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    label {
        font-size: 14px;
    }

    input {
        width: 7rem;
    }

    .logo {
        padding: .2rem .5rem;
        width: 55px;
        height: 55px;
    }

    .section-formulario {
        margin: 1rem;
    }

    .img-article {
        width: 100%;
        height: 100%;
    }

    .boton-pri {
        padding: .5rem 1.5rem;
        font-size: 12px;
        border-radius: .7rem;
    }

    .aside {
        background-color: #BBF176;
        box-sizing: border-box;
        padding: .5rem .5rem;
    }

    .aside ul {
        padding: .7rem 0;
    }

    .aside ul li {
        margin: .5rem 0;
        padding: .3rem 0;
    }

    .aside ul li a {
        font-size: 12px;
    }

    .nav ul {
        padding: 0;
    }

    .nav ul li {
        margin: 0 .3rem;
    }

    .nav ul li a {
        font-size: 10px;
    }

    .footer {
        font-size: 14px;
    }

}